@model IEnumerable<GasMan.Web.Models.IndexViewListModel>
@using Newtonsoft.Json
@using System.Linq

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section id="Chart" height="800px">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2"><canvas id="lineChart" class="widgetcanvas"> </canvas></div>
        </div>
    </div>
</section>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/chart.bundle")
<script type="text/javascript">

    function chartStepOne() {
        var currentWindowHeight = $(window).height()
        var canvas = document.getElementById("lineChart")
        var chartHeight = currentWindowHeight - 220
        var lineChartParent = document.getElementById('linechartparent')
        canvas.width = lineChartParent.clientWidth;
        canvas.height = chartHeight;
        generateLineChart()
    }


                var data = {
        labels: [@foreach(var str in ViewBag.Date)
                        {
                            @Html.Raw("'" + str + "'");
                            @Html.Raw(" ,");
                } ],
        datasets: [
            {
                label: "Midwest Average Gas Prices Per Week",
                fill: false,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                data: [@foreach(var str in ViewBag.UsAverage)
                        {

                            @Html.Raw(str);
                            @Html.Raw(",");
                        }],
                spanGaps: false,
            }
                        ]
    };


                        var CHART = document.getElementById("lineChart");
                        console.log(CHART);
                        var lineChart = new Chart(CHART, {
                            type: 'line',
                            data: data,
                            options: {
                                showXLabels: 11,
                                title: {
                                    display: false,
                                },
                                legend: { labels: { fontColor: "rgb(20,20,20)", fontSize: 14 } },
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            fontColor: "rgb(20,20,20)",
                                            autoSkip: true,
                                            maxTicksLimit: 11
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            fontColor: "rgb(20,20,20)",
                                        }
                                    }]
                                }
                            }
                        });



                        @*$(function chartType(type) {
                            var Dataset = new Object();
                            if (type == US)
                            {

                        @foreach(var str in ViewBag.UsAverage)
                        {

                            @Html.Raw("Dataset.push(" + str + ");");
                            @Html.Raw(",");

                        }
                                return Dataset;

                            }
                            else if (type == MID)
                            {

                                 @foreach(var str in ViewBag.MidwestAverage)
                        {

                            @Html.Raw(str);
                            @Html.Raw(",");
                        }

                            return Dataset;
                            }
                        });

                        $(function checkGas() {
                            $("input[name='Gas']").on("click", function () {
                                var gas = $(this).val();
                                if (gas == US_Average) var chart = chartType(US)
                                if (gas == Midwest_Average) var chart = chartType(MID)

                                return chart;
                            });
                            var chart = chartType(US)
                        });*@
</script>