@model GasMan.Data.RetailPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RetailPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.US_Average)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_Average)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Midwest_Average)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Midwest_Average)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speedway_Average)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speedway_Average)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BP_Average)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BP_Average)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shell_Average)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shell_Average)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
