@model IEnumerable<GasMan.Data.RetailPrice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.US_Average)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Midwest_Average)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speedway_Average)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BP_Average)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shell_Average)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.US_Average)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Midwest_Average)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speedway_Average)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BP_Average)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shell_Average)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
